
html{
    background-color: rgb(218, 214, 214);
}
body{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);

}
/* header navigation section */
.header{
    background-color: rgb(255, 255, 255);
    box-shadow: 0 2px 10px grey;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    padding: 2vh;
    min-height: 50px;
    max-height: 100px;
    grid-area: 1/2/1/5;
}
.nav-down{
    display: grid;
    padding: 5px;
    max-height: 50px;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: repeat(1, 50px);
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-top: 5px;
    

}
.nav-down>.user-log{
    display: grid;
    height: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.nav-down :nth-child(2){
 grid-area: 1/5/1/5;
}
.nav-down :nth-child(3){
 grid-area: 1/6/1/6;
}
.nav-down :nth-child(4){
 grid-area: 1/7/1/7;
}
.nav-down-buttons{
    width: 55px;
    height: auto;
    display: flex;
    place-self: center;
    border-radius: 5px 5px 5px 5px;
    justify-content: center;
    border-color: aquamarine;
}

.user-log>img{
    max-height: 35px;
    grid-area: 1/1/2/1;
}
.user-log{
    grid-area: 1/1/2/2;
    height: 15px
}
.user-greet>p{
    font-size: 15px;
    margin: 0;
}
#greeting{
    font-size: 12px;
}
img{
    border-radius: 50%;
}

.user-greet{
    display: flex;
    flex-direction: column;
    height: 20px;
    margin:0%;
}

.nav-up{
    display: grid;
    grid-area: 1/1/1/5;
    grid-template-columns: 2em 1fr 1fr 1fr 1fr;
    grid-template-rows: 35px;
    
    
    
}
.nav-up>button{ 
    width: 30px;
    height: auto;
    background-color: inherit;
    border: 0cap;
    place-self: center;
}
.nav-up>input{
   border-radius: 10px 10px 10px 10px;
   border: 0cap;
   background-color: rgb(218, 214, 214);
   padding-left: 15px;
}
button[type="submit"]:active{
background-color: rgb(218, 214, 214);
}
/* end of header navigation section*/

/* sidebar section */
.sidebar{
    background-color: rgb(16, 146, 221);
    padding-left: 15px;
    grid-area: 1/1/5/2;
    color: azure;

}
h1>img{
    height: 25px;
    width: auto;
    fill: whitesmoke;
    color: white;
}
/* end of sidebar section  */

/* body section */
.body-content{
    background-color: aquamarine;
    grid-area: 2/2/6/4;
}
/* end of body section */

.side-view{
    display: grid;
    grid-area: 2/4/6/5;
}

/* info section */
.info{
    background-color: coral;
    grid-area: 1/1/2/1;
}
/* end of info section */

/* trending section */
.trending{
    background-color: darkorchid;
    grid-area:2/1/3/1 ;
}
/* end of trending section */





