.header{
    background-color: rgb(113, 183, 245);
    display: flex;
    flex-direction: column;
}
.nav-down{
    display: flex;
}
img{
    border-radius: 70%;
}
.navigateBar>button{ width: 20px;
    height: auto;

}