.header{
    background-color: rgb(113, 183, 245);
    display: flex;
    flex-direction: column;
    padding: 2vh;
    min-height: 50px;
    max-height: 100px;
}
.nav-down{
    display: grid;
    padding: 5px;
    max-height: 20px;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: repeat(1, 30px);
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-top: 5px;

}
.nav-down>.user-log{
    display: grid;
    height: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.nav-down :nth-child(2){
 grid-area: 1/5/1/5;
}
.nav-down :nth-child(3){
 grid-area: 1/6/1/6;
}
.nav-down :nth-child(4){
 grid-area: 1/7/1/7;
}
.nav-down-buttons{
    width: 55px;
    height: auto;
    display: flex;
    place-self: center;
    border-radius: 5px 5px 5px 5px;
    justify-content: center;
    border-color: aquamarine;
}

.user-log>img{
    max-height: 35px;
    grid-area: 1/1/2/1;
}
.user-log{
    grid-area: 1/1/2/2;
    height: 15px
}
.user-greet>p{
    font-size: 15px;
    margin: 0;
}
#greeting{
    font-size: 12px;
}
img{
    border-radius: 50%;
}

.user-greet{
    display: flex;
    flex-direction: column;
    height: 20px;
    margin:0%;
}

.nav-up{
    display: grid;
    grid-area: 1/1/1/5;
    grid-template-columns: 1fr 3fr 1fr 1fr 1fr;
    grid-template-rows: 35px;
    
    
    
}
.nav-up>button{ 
    width: 30px;
    height: auto;
    background-color: inherit;
    border: 0cap;
}
.nav-up>input{
   border-radius: 10px 10px 10px 10px;
   border: 0cap;
   background-color: rgb(221, 220, 220);
}



