
html{
    background-color: rgb(218, 214, 214);
    padding: 0%;
}
body{
    margin: 0%;
    display: grid;
    grid-template-columns:180px repeat(3, 1fr);
    grid-template-rows: 120px repeat(4, 1fr);

}
/* header navigation section */
.header{
    background-color: rgb(255, 255, 255);
    box-shadow: 0 6px 6px -4px rgba(0, 0, 0, 0.3);
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    padding: 2vh;
    min-height: 50px;
    max-height: 100px;
    grid-area: 1/2/1/5;
}
.nav-down{
    display: grid;
    padding: 5px;
    max-height: 50px;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: repeat(1, 50px);
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-top: 5px;
    

}
.nav-down>.user-log{
    display: grid;
   
    grid-template-rows: 1fr 1fr;
   
    grid-area: 1/1/1/2;
    height: 15px;
    grid-template-columns: 1fr 1fr;

}
.nav-down :nth-child(2){
 grid-area: 1/5/1/5;
}
.nav-down :nth-child(3){
 grid-area: 1/6/1/6;
}
.nav-down :nth-child(4){
 grid-area: 1/7/1/7;
}
.nav-down-buttons{
    width: 70px;
    height: 25px;
    display: flex;
    place-self: center center;
    border-radius: 10px 10px 10px 10px;
    justify-content: center;
    text-align: end;
    color: white;
    background-color: rgb(69, 185, 252);
    border: 0cap;
    padding: 0%;
    padding-top: 4px;
}

.user-log>img{
    max-height: 35px;
    grid-area: 1/1/2/1;
}

.user-greet>p{
    font-size: 15px;
    margin: 0;
}
#greeting{
    font-size: 12px;
}
img{
    border-radius: 50%;
}

.user-greet{
    display: flex;
    flex-direction: column;
    height: 20px;
    margin:0%;
}

.nav-up{
    display: grid;
    grid-area: 1/1/1/5;
    grid-template-columns: 2em 3fr minmax(5px,40px) minmax(40px,60px) 1fr;
    grid-template-rows: 35px;
}
.nav-up> button~img{
    margin-left: 15px;
}
.nav-up p{
    display: flex;
    align-items: center;
}
button>img{
    border-radius: 0%;
}
.nav-up>button{ 
    width: 30px;
    height: auto;
    background-color: inherit;
    border: 0cap;
    place-self: center;
}
.nav-up>input{
   border-radius: 10px 10px 10px 10px;
   border: 0cap;
   background-color: rgb(218, 214, 214);
   padding-left: 15px;
}
button[type="submit"]:active{
background-color: rgb(218, 214, 214);
}
/* end of header navigation section*/

/* sidebar section */
.sidebar{
    display: grid;
    background-color: rgb(16, 146, 221);
    padding-left: 15px;
    grid-area: 1/1/6/2;
    color: azure;
    grid-template-rows:80px repeat(auto-fit,minmax(190px,1fr));
    min-width: 130px;
    max-width: 180px;
    gap: 15px;
}
.sidebar>h1{
    font-size: 20px;
}
h1>img{
    height: 25px;
    width: auto;
    border-radius: 0%;
}
.secondary>p>img,
.main>p>img{
    border-radius: 0%;
    height: 18px;
}
.secondary>p>span,
.main>p>span{
    font-weight: bolder;
    margin-left: 15px;
    
}
.main,.secondary{
    padding-bottom: 0px;
}
/* end of sidebar section  */

/* body section */
.general-body{
    background-color: inherit;
    grid-area: 2/2/6/4;
}
.general-body>h1{
    font-size: 25px;
    margin: 0%;
    margin-left: 17px;
}
.body-content{
    display: grid;
    grid-template: repeat(auto-fill,minmax(50px, 1fr)) / repeat(auto-fit, minmax(250px, 1fr));

    gap: 15px;
    padding: 15px;
}
.bItem{
    background-color: white;
    border-left: 5px solid orange;
    padding-left: 15px;
    padding-right: 5px;
    box-shadow: 0 6px 6px -4px rgba(0, 0, 0, 0.3);
    border-radius: 10px 10px 10px 10px;
    padding-bottom: 20px;
}
.btn-container{
    display: flex;
    justify-content: flex-end;
}
.btn-container>button>img{
    height: 20px;
    width: auto;
    border-radius: 0%;
    
    
}
.btn-container>button{
    border: 0cap;
    background-color: inherit;
    border-radius: 5px 5px 5px 5px;
}
.btn-container>button:hover{
    background-color: rgb(199, 162, 117);
}
.btn-container>button:active{
    background-color: darkorange;
}

.bItem>h1{
    font-size: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.bItem>p{
    margin-top: 5px;
}
/* end of body section */

.side-view{
    display: grid;
    grid-area: 2/4/6/5;
    background-color: white;
    grid-template-rows: 45px;
    gap: 5px;
    margin-right: 20px;
    border-radius: 10px;
}
.side-view>h1{
    background-color: rgb(218, 214, 214);
    margin: 0cap;
    font-size: 25px;
}

/* info section */
.info{
    background-color: inherit;
    grid-area: 2/1/3/1;

    grid-template-rows:  repeat(auto-fill,minmax(180px,1fr));
}
.info>div{
    padding-left: 15px;
    padding-right: 15px;
    font-size: 12px;
}
.info>div>h1{
    font-size: 20px;
}
/* end of info section */

/* trending section */
.trending{
    background-color: rgb(255, 255, 255);
    grid-area:4/1/6/1 ;
    border-radius: 5px 10px 10px 10px;
}
.trending h1,
.trending p{
    font-size: 18px;
}
.trending img{
    height: 60px;
    width: auto;
}
.info ~ h1{
    padding: 20px;
}
.trending div{padding-left: 20px;
}
.card{
    display: grid;
    grid-template-rows: 1fr  ;
    grid-template-columns: 1fr 3fr ;
}
.card>img{grid-area: 1/1/2/1;}
.card>h1{
    grid-area: 1/2/1/2;
    margin-bottom: 5px;
    margin-top: 5px;
    place-self: start start;
    
}
.card>p{
    grid-area: 1/2/1/2;
    place-self: end start;
    margin-bottom: 10px;
}
/* end of trending section */





